<% layout("layouts/boilerplate") %>
<h1>Campgrounds</h1>
<a href="/campgrounds/new">Add a new campground</a>
<ul>
	<% for (let campground of campgrounds) { %>
		<li>
			<%= campground.title %> <a href="/campgrounds/<%= campground._id %>">></a>
		</li>
	<% } %>
</ul>